In [28]:
import pandas as pd
import requests

In [53]:
import requests

url = "https://imdb-top-100-movies.p.rapidapi.com/"

headers = {
	"x-rapidapi-key": "a61f8f6243msh165b6f8388a0253p1bbb48jsn87e0f67fa819",
	"x-rapidapi-host": "imdb-top-100-movies.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

response

In [66]:
#response.json()
dt = pd.DataFrame(response.json())[['rank','title','description','genre','rating','year']]

dt.head()

,rank,title,description,genre,rating,year
0,1,The Shawshank Redemption,Two imprisoned men bond over a number of years...,[Drama],9.3,1994
1,2,The Godfather,The aging patriarch of an organized crime dyna...,"[Crime, Drama]",9.2,1972
2,3,The Dark Knight,When the menace known as the Joker wreaks havo...,"[Action, Crime, Drama]",9.0,2008
3,4,The Godfather Part II,The early life and career of Vito Corleone in ...,"[Crime, Drama]",9.0,1974
4,5,12 Angry Men,The jury in a New York City murder trial is fr...,"[Crime, Drama]",9.0,1957

In [67]:
dt.shape

(100, 6)

In [68]:
dt.to_csv('topmovies.csv')